.dashboard{
    padding: 0 !important;
}

.second-col{
    background: #cde9f1;
    height: 1000px;
}
.select-drp1{
    background: #cde9f1;
    border:none;
    color: #0488ae;
    font-size: 18px;
    font-weight: 600;
}
.select-drp2{
    background: #cde9f1;
    border:none;
    float: right;
    color: #0488ae;
    font-size: 18px;
    font-weight: 600;
}
.card{
    border-radius: 20px !important;
    box-shadow: 2px 3px 2px -2px #777 !important;
}

.second-card{
    padding: 10px;
}

.second-card1{
    background: #f7a62c !important;
    color: #fff;
    padding: 20px;
}
.second-card2{
    padding: 20px;
    background: #cde9f1 !important;
}
.fourth-card p{
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #0488ae;
}
.icon-color {
    color: #ffffff;
}


/*User Profile*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000000000000;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

a {
    color: #0488ae;
    text-decoration: none;
}


@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    
}

html, body {
    width: 100%;
    height: 100%;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

    audio:not([controls]) {
        display: none;
        height: 0;
    }

a {
    background-color: transparent;
    text-decoration: none;
}

    a:active, a:hover {
        outline: 0;
    }

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0px;
    padding: 0px;
}


/***********************  TOP Bar ********************/
.sidebar {
    position: absolute;
    width: 100%;
    height: 1000px;
    background-color: #3289a8;
    transition: all 0.5s ease-in-out;
}

.bg-defoult {
    background-color: #222;
}

.sidebar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.sidebar li a, .sidebar li a.collapsed.active {
    text-align: center;
    display: block;
    padding: 3px 15px 3px 15px;
    color: #fff;
    border-left: 0px solid #dedede;
    text-decoration: none;
}

    .sidebar li a.active {
        background-color: #0488ae;
        border-left: 5px solid #dedede;
        transition: all 0.5s ease-in-out;
    }

    .sidebar li a:hover {
        background-color: #000 !important;
    }

    .sidebar li a i {
        padding-right: 5px;
    }

.sidebar ul li .sub-menu li a {
    position: relative;
}

    .sidebar ul li .sub-menu li a:before {
        font-family: FontAwesome;
        content: "\f105";
        display: inline-block;
        padding-left: 0px;
        padding-right: 10px;
        vertical-align: middle;
    }

    .sidebar ul li .sub-menu li a:hover:after {
        content: "";
        position: absolute;
        left: -5px;
        top: 0;
        width: 5px;
        background-color: #111;
        height: 100%;
    }

    .sidebar ul li .sub-menu li a:hover {
        background-color: #222;
        padding-left: 20px;
        transition: all 0.5s ease-in-out;
    }

.sub-menu {
    border-left: 5px solid #dedede;
}

.sidebar li a .nav-label, .sidebar li a .nav-label + span {
    transition: all 0.5s ease-in-out;
    font-size: 13px;
}


.sidebar.fliph li a .nav-label, .sidebar.fliph li a .nav-label + span {
    display: none;
    transition: all 0.5s ease-in-out;
}

.sidebar.fliph {
    width: 42px;
    transition: all 0.5s ease-in-out;
}

    .sidebar.fliph li {
        position: relative;
    }

    .sidebar.fliph .sub-menu {
        position: absolute;
        left: 39px;
        top: 0;
        background-color: #222;
        width: 150px;
        z-index: 100;
    }


.bg-faded {
    background-color: #17800c;
}


.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open > .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.contan-body {
    padding: 0% 8%;
}

@media (max-width: 650px) {

    .contan-body {
        padding: 2% 12%;
    }
}




.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}




.shop-name{
    margin-top: 20px;
    border-top-left-radius: 25px;
    border: 1px solid #eadddd;
    box-shadow: 1px 6px 15px -4px #777;
    padding: 20px 40px 20px 20px;
    color: #0488ae;
}

.membership{
    padding: 10px;
}

.membership-col{
    background: #0488ae;
    border: 5px solid #fff;
    box-shadow: 1px 6px 15px -4px #777;
    margin: 0px;
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    font-size: 20px;
}

.products-col{
    height: 100px;
    width: 100%;
    background: #cde9f1;
    border-bottom: 5px solid #0488ae; 
    /* box-shadow: 1px 6px 15px -4px #777; */
    margin: 10px;
    border-radius: 5px;
    padding: 40px;
    color: #fff;
    font-size: 20px;
}
.see-more-btn{
    float: right;
}

/* Membership */
.membership-name{
    color: #0488ae;
}

.membership-name p{
    color: #0488ae;
    font-size: 30px;
    font-weight: 600; 
}

.ourworks-box{
	width: 60%;
	justify-content: center;
	text-align: center;
}

.our-works-head{
	font-size: 30px;
	font-weight: bold;
	color: black;
}
.basic{
    background-color:white;
    border: 1px solid #ccc;
	box-shadow: 0 3px 10px #5969f642;
	border-top: 5px solid #ccc;
	color: black;
}

.basic:hover{
	box-shadow: 0 3px 15px #5969f666;
	border-top: 5px solid #ccc;
	color: black;
	text-decoration: none;
}
.plus{
    background-color:white;
    border: 1px solid #ccc;
	box-shadow: 0 3px 10px #5969f642;
	border-top: 5px solid #5969f6;
	color: black;
}

.plus:hover{
	box-shadow: 0 3px 15px #5969f666;
	border-top: 5px solid #5969f6;
	color: black;
	text-decoration: none;
}
.pro{
    background-color:white;
    border: 1px solid #ccc;
	box-shadow: 0 3px 10px #5969f642;
	border-top: 5px solid #1222ad;
	color: black;
}

.pro:hover{
	box-shadow: 0 3px 15px #5969f666;
	border-top: 5px solid #1222ad;
	color: black;
	text-decoration: none;
}

.bronze{
    background-color:white;
    border: 1px solid #ccc;
	box-shadow: 0 3px 10px #5969f642;
	border-top: 5px solid #824b4b;
	color: black;
}

.bronze:hover{
	box-shadow: 0 3px 15px #5969f666;
	border-top: 5px solid #824b4b;
	color: black;
	text-decoration: none;
}

.silver{
    background-color:white;
    border: 1px solid #ccc;
	box-shadow: 0 3px 10px #5969f642;
	border-top: 5px solid #a9a4a4;
	color: black;
}

.silver:hover{
	box-shadow: 0 3px 15px #5969f666;
	border-top: 5px solid #a9a4a4;
	color: black;
	text-decoration: none;
}

.platinium{
    background-color:white;
    border: 1px solid #ccc;
	box-shadow: 0 3px 10px #5969f642;
	border-top: 5px solid #737171;
	color: black;
}

.platinium:hover{
	box-shadow: 0 3px 15px #5969f666;
	border-top: 5px solid #737171;
	color: black;
	text-decoration: none;
}

.gold{
    background-color:white;
    border: 1px solid #ccc;
	box-shadow: 0 3px 10px #5969f642;
	border-top: 5px solid #ec9c0a;
	color: black;
}

.gold:hover{
	box-shadow: 0 3px 15px #5969f666;
	border-top: 5px solid #ec9c0a;
	color: black;
	text-decoration: none;
}

.diamond{
    background-color:white;
    border: 1px solid #ccc;
	box-shadow: 0 3px 10px #5969f642;
	border-top: 5px solid #c3b7a2;
	color: black;
}

.diamond:hover{
	box-shadow: 0 3px 15px #5969f666;
	border-top: 5px solid #c3b7a2;
	color: black;
	text-decoration: none;
}

.flex-column-1{
	width: 100%;
}

.flex-column-2{
    width: 100%;
	align-items:center;
}

.introduce:hover .pic{
	transform: scale(1.1);
}

.carousel-indicators .active{
	background-color: #46eeaa;
}

.carousel-indicators li{
	background-color: #c8e5ff;
}

.carousel-indicators{
	bottom: -50px;
}
/* Membership */
/* .p1{
	background-image: url("http://lorempixel.com/150/150/nature");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.p2{
	background-image: url("http://lorempixel.com/150/150/people");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}
.p3{
	background-image: url("http://lorempixel.com/150/150/cats");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
} */
  
.filter1{
    margin-top: 30px;
}

.select-drp-set-prod{
    border: none;
    color: #0488ae;
    font-size: 18px;
    font-weight: 600;
}
.more-drp{
    border: none;
    background: #cde9f1;
    color: #0488ae;
    font-size: 18px;
    font-weight: 600;
    padding: 6px;
}
.add-prod-btn{
    float: right !important;
    border-radius: 0px !important;
    border: none !important;
    background: #cde9f1 !important;
    color: #0488ae !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}

.set-products-col{
    background: #cde9f1;
    margin: 12px;
    padding: 10px;
}

.theme-col{
    box-shadow: 0px 0px 2px 2px #777;
    /* background: #cde9f1; */
    margin: 12px;
    padding: 10px;
    text-align: center;
}
.theme-col:hover .btn-info{
    background: #0488ae;
}
  
  /* .content{
     margin-top:60px;
   } */
  /* Profile container */
  .profile {
    margin: 20px 0;
  }
  
  /* Profile sidebar */
  .profile-sidebar {
    margin-top:50px;
    padding: 20px 0 10px 0;
    background: #fff;
  }

  .profile-userpic img {
    margin-top: -70px;
    margin-left: 120px;
    float: none;
    display:block;
    width: 30%;
    height: 30%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  
  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-usertitle-name {
    color: #5b9bd1;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }
  
  .profile-usertitle-job {
    color: #5b9bd1;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
  }
/* 
  #ThumbnailCarousel img {

} */

#ThumbnailCarousel div {
    height:100px;
    width:100%;
}

#ThumbnailCarousel.carousel {
    padding-top:30px;
    text-align:center;
}

.col-md-3 .img-thumbnail {
    height:100%;
}

/*******************************
* Does not work properly if "in" is added after "collapse".
* Get free snippets on bootpen.com
*******************************/
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 14px;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}

/* ----- v CAN BE DELETED v ----- */
.demo {
padding-bottom: 60px;
}




.outerDivFull { 
    margin:50px;
} 

.switchToggle input[type=checkbox]{
    height: 0;
    width: 0; 
    visibility: hidden; 
    position: absolute; 
}

.switchToggle label {
    cursor: pointer; 
    text-indent: -9999px; 
    width: 50px; 
    max-width: 70px; 
    height: 15px; 
    background: #d1d1d1; 
    display: block; 
    border-radius: 100px; 
    position: relative;
    float: right;
}

.switchToggle label:after {
    content: ''; 
    position: absolute; 
    top: 0px; 
    left: 2px; 
    width: 15px; 
    height: 15px; 
    background: #fff; 
    border-radius: 90px; 
    transition: 0.3s; 
}

.switchToggle input:checked + label, 
.switchToggle input:checked + input + label  {
    background: #3e98d3;
}

/* .switchToggle input + label:before, 
.switchToggle input + input + label:before {
    content: 'No'; 
    position: absolute; 
    top: 0px; 
    left: 35px; 
    width: 26px; 
    height: 26px; 
    border-radius: 90px; 
    transition: 0.3s; 
    text-indent: 0; 
    color: #fff; 
}

.switchToggle input:checked + label:before, 
.switchToggle input:checked + input + label:before {
    content: 'Yes'; 
    position: absolute; 
    top: 0px; 
    left: 10px; 
    width: 26px; 
    height: 26px; 
    border-radius: 90px; 
    transition: 0.3s; 
    text-indent: 0; 
    color: #fff; 
} */

.btn-save{
    float: right;
    border: none !important;
    color: #fff !important;
    background: #fd981b !important;
}

.switchToggle input:checked + label:after, 
.switchToggle input:checked + input + label:after {
    left: calc(100% - 2px); 
    transform: translateX(-100%); 
}
.switchToggle label:active:after {
    width: 60px;
} 
.toggle-switchArea { 
    margin: 10px 0 10px 0; 
}
.shipping-con{
    box-shadow: 1px 6px 15px -4px #777;
    margin-top: 30px;
    padding: 20px;
}

.shipping-con1{
    box-shadow: 1px 6px 15px -4px #777;
    margin-top: 30px;
    padding: 20px;
    height: 500px;
}

/* .theme{
    border: 2px solid #222;
    text-align: center
} */

.store-con{
    box-shadow: 1px 6px 15px -4px #777;
    margin-top: 30px;
    padding: 20px;
}

.store-con1{
    box-shadow: 1px 6px 15px -4px #777;
    margin-top: 30px;
    padding: 20px;
}

.prof-card{
    padding: 40px !important;
    border: 1px solid #ccc !important;
    border-radius: 0px !important;
    text-align: center !important;
    /* padding-left: 73px !important; */
}


.prof-pic {
    padding: 10px;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px #777;
    /* border: 1px solid #ccc; */
  }

  .nav-pills{
      margin: 2px;
     
  }
  .nav-item .nav-link {
      margin: 2px;
      border: 1px solid #ccc;
      border-radius : 0px !important;
      /* box-shadow: 0px 0px 1px 2px #777; */
}

  .nav-link.active {
      background: #0488ae !important;

  }



  .box8 .icon,.box8 .title{margin:0;position:absolute}
.box8{box-shadow:0 0 3px rgba(0,0,0,.3);position:relative}
.box8 img{width:100%;height:auto}
.box8 .box-content{width:100%;height:100%;background:rgba(0,0,0,.6);opacity:0;position:absolute;top:0;left:0;transform:perspective(400px) rotateX(-90deg);transform-origin:center top 0;transition:all .5s ease 0s}
/* .box8 .icon li a,.box8 .title{background:#ef4050;font-size:20px;color:#fff} */
.box8:hover .box-content{opacity:1;transform:perspective(400px) rotateX(0)}
.box8 .title{padding:5px 7px;border-radius:5px;font-weight:600;bottom:20px;left:20px;transition:all .9s ease 0s}
.box8 .icon li a,.box9 .box-content,.box9 .icon li,.box9 img{transition:all .35s ease 0s}
.box8:hover .title{bottom:-40px}
.box8 .icon{list-style:none;padding:0;top:42%;left:0;right:0}
.box8 .icon li a{display:block;width:40px;height:40px;line-height:40px;border-radius:50%;margin-right:7px}
.box9 .icon,.box9 .title{width:100%;font-size:22px}
/* .box8 .icon li a:hover{background:#fff;color:#000} */
@media only screen and (max-width:990px){.box8{margin-bottom:20px}
}