body {
font-family: Lato;
}

.dashboard{
    padding: 0 !important;
}

.second-col{
    background: #cde9f1;
    height:fit-content;
}
.select-drp1{
    background: #cde9f1;
    border:none;
    color: #0488ae;
    font-size: 18px;
    font-weight: 600;
}
.select-drp2{
    background: #cde9f1;
    border:none;
    float: right;
    color: #0488ae;
    font-size: 18px;
    font-weight: 600;
}
.card{
    border-radius: 20px !important;
    box-shadow: 2px 3px 2px -2px #777 !important;
}

.second-card{
    padding: 10px;
}

.second-card1{
   background: #f7a62c !important;
    color: #fff;
    padding-left: 20px;
    margin: 6px !important;
}
.second-card2{
    padding: 20px;
    background: #cde9f1 !important;
}
.fourth-card p{
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #0488ae;
}
.icon-color {
    color: #ffffff;
}

.svg-inline--fa {
    color: #089BAB;
    font-size: 22px;
}

.view-plan-text{
    font-size: 11px;
    font-weight: 600;
    color: #0488ae;
}
/*User Profile*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000000000000;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

a {
    color: #0488ae;
    text-decoration: none;
}


@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    
}

html, body {
    width: 100%;
    height: 100%;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

    audio:not([controls]) {
        display: none;
        height: 0;
    }

a {
    background-color: transparent;
    text-decoration: none;
}

    a:active, a:hover {
        outline: 0;
    }

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0px;
    padding: 0px;
}


/***********************  TOP Bar ********************/
.sidebar {
    position: absolute;
    width: 100%;
    height: 1000px;
    background-color: #3289a8;
    transition: all 0.5s ease-in-out;
}

.bg-defoult {
    background-color: #222;
}

.sidebar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.sidebar li a, .sidebar li a.collapsed.active {
    text-align: center;
    display: block;
    padding: 3px 15px 3px 15px;
    color: #fff;
    border-left: 0px solid #dedede;
    text-decoration: none;
}

    .sidebar li a.active {
        background-color: #0488ae;
        border-left: 5px solid #dedede;
        transition: all 0.5s ease-in-out;
    }

    .sidebar li a:hover {
        background-color: #000 !important;
    }

    .sidebar li a i {
        padding-right: 5px;
    }

.sidebar ul li .sub-menu li a {
    position: relative;
}

    .sidebar ul li .sub-menu li a:before {
        font-family: FontAwesome;
        content: "\f105";
        display: inline-block;
        padding-left: 0px;
        padding-right: 10px;
        vertical-align: middle;
    }

    .sidebar ul li .sub-menu li a:hover:after {
        content: "";
        position: absolute;
        left: -5px;
        top: 0;
        width: 5px;
        background-color: #111;
        height: 100%;
    }

    .sidebar ul li .sub-menu li a:hover {
        background-color: #222;
        padding-left: 20px;
        transition: all 0.5s ease-in-out;
    }

.sub-menu {
    border-left: 5px solid #dedede;
}

.sidebar li a .nav-label, .sidebar li a .nav-label + span {
    transition: all 0.5s ease-in-out;
    font-size: 13px;
}


.sidebar.fliph li a .nav-label, .sidebar.fliph li a .nav-label + span {
    display: none;
    transition: all 0.5s ease-in-out;
}

.sidebar.fliph {
    width: 42px;
    transition: all 0.5s ease-in-out;
}

    .sidebar.fliph li {
        position: relative;
    }

    .sidebar.fliph .sub-menu {
        position: absolute;
        left: 39px;
        top: 0;
        background-color: #222;
        width: 150px;
        z-index: 100;
    }


.bg-faded {
    background-color: #17800c;
}


.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open > .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.contan-body {
    padding: 0% 8%;
}

@media (max-width: 650px) {

    .contan-body {
        padding: 2% 12%;
    }
}




.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.shop-name{
    margin-top: 20px;
    border-top-left-radius: 25px;
    border: 1px solid #eadddd;
    box-shadow: 1px 6px 15px -4px #777;
    padding: 20px 40px 20px 20px;
    color: #0488ae;
}

.membership{
    padding: 10px;
}

.membership-col{
    background: #0488ae;
    border: 5px solid #fff;
    box-shadow: 1px 6px 15px -4px #777;
    margin: 0px;
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    font-size: 20px;
}

.products-col{
    height: 100px;
    width: 100%;
    background: #cde9f1;
    border-bottom: 5px solid #0488ae; 
    /* box-shadow: 1px 6px 15px -4px #777; */
    margin: 10px;
    border-radius: 5px;
    padding: 40px;
    color: #fff;
    font-size: 20px;
}
.see-more-btn{
    float: right;
}
.btn-action{
 background-color: aliceblue !important;
    border-color: aliceblue !important;
    color: #1c9bab !important;
}
.btn-submit{
 background-color: #f7a638 !important;
    border-color: #f7a638 !important;
    color: #fff !important;
}


  /* Profile container */
  .profile {
    margin: 20px 0;
  }
  
  /* Profile sidebar */
  .profile-sidebar {
    margin-top:50px;
    padding: 20px 0 10px 0;
    background: #fff;
  }

  .profile-userpic img {
    margin-top: -70px;
    margin-left: 120px;
    float: none;
    display:block;
    width: 30%;
    height: 30%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  
  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-usertitle-name {
    color: #089BAB;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }
  
  .profile-usertitle-job {
    color: #089BAB;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
  }
/* 
  #ThumbnailCarousel img {

} */

#ThumbnailCarousel div {
    height:100px;
    width:100%;
}

#ThumbnailCarousel.carousel {
    padding-top:30px;
    text-align:center;
}

.col-md-3 .img-thumbnail {
    height:100%;
}
/*Login amd reset password*/
a, a:hover{
  color:#333
}

.form-change-password{
    border: 1px solid #fff;
    display: block;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 1px 1px 6px 0px #dee2e6;
    margin-top: 80px !important;
}
.pass-text{
   color:#089BAB;
}

.btn-change-password{
    border-radius: 0px;
}

.background-form{
     background-color: #EDF6F7 !important;
}
 /*::-webkit-input-placeholder { 
    color:#000 !important;
    font-size: 12px;
 }
 :-moz-placeholder { 
   color:#000 !important;
   font-size: 12px;
 }
 ::-moz-placeholder { 
    color:#000 !important;
    font-size: 12px;
 }
 :-ms-input-placeholder { 
    color:#000 !important;
    font-size: 12px;
 }  */

 input {
    line-height: 50px;
 }

 .img-comp{
    margin-top: 50px;
    display: block ;
 }
 
 /*Tabs product form*/

s/*tabs*/
section {
    padding: 60px 0;
}

section .section-title {
    text-align: left;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#tabs{
  background: #fff;
    color: #222;
}
#tabs h6.section-title{
    color: #222;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000;
    font-size: 18px;
    font-weight: normal;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 2px solid #089BAB !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #000;
    font-size: 18px;
    font-weight: normal;
}

.form-control:focus {
    box-shadow: none !important;
}
.container-box{
    border: 1px solid #222;
    padding: 15px;
    border-radius: 5px;
}
/*upload image*/
.files input {
    outline: 2px dashed #92b0b3;
     outline-offset: -10px; 
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding:195px 0px 173px 22%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 140px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 75px;
    left: 0;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #6c757d87;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.upload-text{
    color: #399cab;
    position: relative;
    bottom: 80px;
    left: 65px;
    right: 0;
    font-size: 10px;
    line-height: 1px;
}
.right-arrow{
    border: 1px solid #000;
    border-radius: 50%;
    width: 27px;
    height: 25px;
    box-shadow: 0px 0px 10px 1px #e9ecef;
    border-color: aliceblue;
}
.tc{
    color: #777;
    font-size: 14px;
}
.product-text{
 color: #089BAB;
}

/*status*/
.status-text{
    font-size: 11px;
    font-weight: 600;
}
.all-price-text{
    font-size: 14px;
}
.rate-text{
    font-size: 14px;
    color: #007bffb8;
}

.hr-price{margin-top: 0;}

.btn-review{
    background-color: aliceblue !important;
    border-color: aliceblue !important;
    color: #089BAB !important;
    box-shadow: 1px 2px 1px 1px rgba(0,0,0,.075) !important;
}

/*membership plan*/
.customize-card{
   border-radius: 0px !important;
    padding: 25px;
    color: #089BAB;
}
.mem-text{color: #777;}
.your-plan-text{
    padding: 10px;
    text-decoration: underline;
    color: #777;
}

/*tables*/
.table-heading{
    background-color: aliceblue;
    color: #ccc;
}
.table-data{
    color: #ccc;
    border-bottom: 2px dashed #ccc;
}
.analytical-table th{
    border-top: transparent !important;  
}
.analytical-table td{
    border-top: transparent !important;  
}
.analytical-table thead th{
     border-bottom: transparent !important;
}
.btn-report{
    font-size: 20px!important;
    background-color: transparent !important;
    border-color: transparent !important;
    color: #089BAB !important;
}

/*preview*/
.img-class{
    border: 1px dashed #089BAB;
    background-color: #f0f8ff;
}
/*Media quries*/
 @media only screen and (min-width: 320px) and (max-width: 768px) {
  .img-comp {
    display: none !important;
  }

.pass-text{
    font-size: 25px;
}
.product-text{font-size:17px;}
.btn-action{font-size: 8px !important;}
.btn-submit{font-size: 8px !important;}

}